/* board.module.css */

.boardWrapper{
}
.boardTop{
    background-color: yellowgreen;
}
.noticeBoard{
    background-color: blue;
    color: white;
}
.contentBoard{

}
.boardMenu{
    background-color: bisque;
}
.paging{
    background-color: yellow;
}
.active{
    color: red;
}
.non-active{
    color: white;
}
.pagingBox{
    
}
.pagingBox:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}