.chatbot-wrapper{
    display: flex;
    background-color: #ffffff;
    color: black;
}
.chatbot-introduce{
    box-sizing: border-box;
    width: 70%;
}
.introduce-top{
    padding-top: 25px;
    padding-left: 10px;
    font-weight: 700;
    display: flex;
    font-size: 50px;
    justify-content: center;
}
.introduce-top1{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.introduce-wrapper{
    display: flex;
    position: relative;
}
.introduce-wrapper > video{
    width: 1300px;
    height: 550px;
    object-fit: fill;
}
.introduce-menu{
    position: absolute;
    top: 80px;
    left: 120px;
    z-index: 100;
}
.introduce-submenu{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
}
.introduce-submenu:hover{
    color: blue;
    text-decoration: underline;
}
.introduce-content{
    position: absolute;
    top: 90px;
    left: 900px;
}
.introduce-cont-submenu{
    position: absolute;
    width: 400px;
    height: 400px;
    font-size: 30px;
    line-height: 45px;
    padding: 10px;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.45);
    text-align: justify;
    font-weight: 500;
    display: none;
}
.hovering{
    display: block;

}
.introduce-bottom-sub{
    padding-left: 100px;
}
.introduce-num{
    color: blue;
    font-size: 45px;
    font-weight: 700;
}

.chatbot-box{
    box-sizing: border-box;
    width: 30%;
}

.box-wrapper{
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.conversation-box{
    width : 500px;
    height : 800px;
    background-size : cover;
    border: 2px solid black;
    margin: auto;
    position: relative;
    font-size: 13px;
    background-color: #2e8b57;
}
.box-top{
    height: 5%;
    text-align: center;
    
}
.conversation-text{
    height: 90%;
    overflow-y: scroll;
}
.conversation-input{
    width: 100%;
    height: 5%;
    bottom: 0px;
    display: flex;
    position: absolute;
    text-align: right;
}
.bot-said{
    display: flex;
    text-align: left;
    justify-content: left;
}
.bot-text{
    position:relative; 
    margin: 10px; 
    padding: 20px; 
    width:200px; 
    height:auto;
    color: #000; 
    border-radius: 10px; 
    background-color: #FFF;}

.bot-text:after {
    content:""; 
    position: absolute; 
    top: 20px; 
    left: -20px; 
    border-right: 20px solid #fff; 
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
}
.human-said{
    text-align: left;
    display: flex;
    justify-content: right;
}
.human-text{
    position:relative;
    margin: 10px; 
    padding: 20px; 
    width:200px; 
    height:auto; 
    color: #000; 
    border-radius: 10px; 
    background-color: #FFF;}

.human-text:after {
    content:""; 
    position: absolute; 
    top: 20px; 
    right: -20px; 
    border-left: 20px solid #fff; 
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
}
.text-input{
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    width: 80%;
    height: 88%;
}
#submit-text{
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.icon{
    position: relative;
    top: -20%;
    height: 75px;
    width: 75px;
}
#submit-text{
    margin: 0;
    width: 20%;
    height: 98%;
    background-color: white;
}

.version-wrapper{
    display: flex;
    justify-content:center
}

.version{
    width: 20%;
    margin-left: 2px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
}