*{
    margin: 0;
    padding: 0;
}

.card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

.card-header {
	border-top: 2px solid #0d790c;
	border-left: 2px solid #0d790c;
	border-right: 2px solid #0d790c;
	border-bottom: 2px solid #0d790c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #666;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.card-body {
	border-left: 2px solid #0d790c;
	border-right: 2px solid #0d790c;
	height: 22vh;
	padding: 15px;
	overflow: hidden;
	text-align: justify;
	display: flex;
}

.card-body h2 {
	margin: 0;
	font-size: 16px;
	color: #333;
}

.card-body p {
	color: #666;
	height: 150px;
	font-size: 15px;
	line-height: 1.6;
	overflow: hidden;
	padding-bottom: 5px;
}

.card-footer {
	border-left: 2px solid #0d790c;
	border-right: 2px solid #0d790c;
	border-bottom: 2px solid #0d790c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #666;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.facility-img{
	border: 3px solid #0d790c;
	border-radius: 10px;
	width: 180px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.body-left{
	width: 40%;
	margin: 0 auto;
	padding-left: 30px;
}
.body-right{
	padding-left: 20px;
	align-content: center;
	width: 70%;
}
.body-right > div{
	font-size: 15px;
	font-weight: 700;
	color: #666;
	line-height: 1.7;
}
.facility-price{
	font-size: 35px;
	font-weight: 700;
	color: red;
}