*{
    margin: 0;
    padding: 0;
}
  
.nav{
    display: flex;
    border-bottom: px solid rgb(136, 136, 136);
}
.left-nav{
    width: 40%;
}
.center-nav{
    width: 20%;
}
.right-nav{
    width: 40%;
}

/* 메뉴바 설정*/
.menu-1, .menu-2, .menu-3, .menu-4, .menu-5{
    width: 200px;
    font-size: 20px;
}

.main-menu{ 
    padding-top: 15px;
    position: relative;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.sub-menu{
    padding: 10px 10px;
    margin: 0;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    
}
.side-menu{
    padding: 0;
    position: relative;
    display: none;
    flex-direction: column;
    animation: slide-fade-in-dropdown-animation 1s ease;
}
.slide:hover > .side-menu{
    display: flex;
}
.slide:hover > .side-menu > .sub-menu:hover{
    cursor: pointer;
}
a{
    color: black;
}

@keyframes slide-fade-in-dropdown-animation {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  .sub-menu:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px; 
    height: 3px; 
    width: 100%;
    background-color: rgb(136, 136, 136); 
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
}

.sub-menu:hover::after {
    transform: scaleX(1); 
}