/* post.module.css */

.postWrapper{
    margin: 0 auto;
    width: 120vh;
    height: 40vh;
}
.postId{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    height: 10%;
    background-color: red;
}
.postTitle{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    height: 10%;
    background-color: orange;
}
.postContent{
    flex-direction: column;
    font-size: 15px;
    text-align: justify;
    height: 70%;
    background-color: yellow;
}
textarea{
    margin: 1vh;
    width: 90%;
    height: 90%;
    resize: none;
}
.attachList{
    font-size: 20px;
    font-weight: 700;
    height: 10%;
    background-color: green;
    color: white
}
.postMenu{
    margin: 0 auto;
    width: 118vh;
    padding-right: 2vh;
    display: flex;
    justify-content: right;
    height: 20%;
    color: white
}
.postMenuBox{
    margin: 1.5vh;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 10vh;
    height: 5vh;
    line-height: 5vh;
    border: 2px solid black;
}