/* board.css */

.boardWrapper{
}
.boardTop{
    background-color: yellowgreen;
}
.noticeBoard{
    background-color: blue;
}
.contentBoard{

}
.boardMenu{
    background-color: bisque;
}
.paging{
    background-color: yellow;
}
