.nav{
    display: flex;
}
.left-nav{
    width: 40%;
}
.center-nav{
    width: 20%;
    background-color: aquamarine;
}
.right-nav{
    width: 40%;
}
/* 메뉴바 설정*/
ul{
    position: relative;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
li{
    position: relative;
    margin: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}
.side-menu{
    position: relative;
    width: 250px;
    display: none;
    background-color: red;
}
.slide .menu-1> .side-menu{
    display: block;
}