.nav{
    display: flex;
}
.left-nav{
    width: 40%;
}
.center-nav{
    width: 20%;
    background-color: aquamarine;
}
.right-nav{
    width: 40%;
}
/* 메뉴바 설정*/
ul{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}
li{
    margin: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}
.side-menu{
    display: none;
}