/* post.module.css */
.postWrapper{
    margin: 0 auto;
    width: 120vh;
    height: 40vh;
    background-color: aqua;
}
.postId{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    height: 10%;
    background-color: red;
}
.postTitle{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    height: 10%;
    background-color: orange;
}
.postContent{
    font-size: 15px;
    text-align: justify;
    height: 50%;
    background-color: yellow;
}
.attachList{
    font-size: 20px;
    font-weight: 700;
    height: 10%;
    background-color: green;
    color: white
}
.postMenu{
    padding-right: 2vh;
    display: flex;
    justify-content: right;
    height: 20%;
    background-color: blue;
    color: white
}
.postMenuBox{
    margin-top: 1.5vh;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 10vh;
    height: 5vh;
    line-height: 5vh;
    border: 2px solid white;
}